



  <div class="nav-item">
    <mat-icon>public</mat-icon>

  </div>
  <div class="nav-item">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>

   
  </div>
  <div class="nav-item">
    <mat-icon>bar_chart</mat-icon> 

   
  </div>

  <div class="nav-item">
    <mat-icon>layers</mat-icon> 

   
  </div>
  <div class="nav-item">
    <mat-icon>chat</mat-icon>

   
  </div>

  <div class="nav-item">
    <mat-icon>pie_chart</mat-icon> <!-- Represents a pie chart icon -->
   
  </div>

  <div class="nav-item">
    <mat-icon>people</mat-icon>

  </div>

  <div class="nav-item-setting">
    <mat-icon>settings</mat-icon>


  </div>

  <!-- HTML -->
<div class="nav-item">
  <img class="circular-image" src="/assets/facebook-icon.jpeg" alt="Profile Image">
</div>




  
 
  <!-- Add more navigation items with Material-UI icons as needed -->

