<div class="top-section-style">

    <h1>Welcome Back,Olivia</h1>
    <div class="nav-item">
        <mat-icon>search</mat-icon>
    </div>
    <div class="nav-item">
        <button class="btn-style">
            <mat-icon>edit</mat-icon>
            <span>Customize</span>
        </button>
    </div>
    <div class="nav-item">
        <button class="btn-style">
            <mat-icon>cloud_download</mat-icon>
            <span>Export</span>
        </button>

    </div>
</div>

<div class="middle-section-style">


    <div class="middle-section-left">

        <div class="top-part">
            
            <mat-icon class="mat-icon-style">category</mat-icon>
            <h2>Vendor BreakDown</h2>
            <p>keep the track of vendors and their security ratings</p>

        </div>
        <div class="bottom-part">
           
            <div id="highchart-container"></div>

        </div>

        <div class="last-part">
          <button class="btn-full-report">View full report</button>
            

        </div>
    </div>
    <div class="space-divider"></div> <!-- Add a space divider -->
    <div class="middle-section-right">
        <div class="top-part">
            <h2 >Vendor Monitored</h2>
            <p class="vendor-monitor">You are using 80% of available spots</p>
        </div>
        <div class="bottom-part">
            <mat-icon class="trend-up">trending_up</mat-icon>
            <span style="color: green;">10%</span>
            <div id="gauge-chart-container"></div>
           
        </div>

        <div class="last-part">

           
            <button class="btn-upgrade-plan" >
                <mat-icon>flash_on</mat-icon>
                <span>Upgrade Plan</span>
            </button>
              
  
          </div>
    </div>

</div>